script(src='js/jquery.min.js')
script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")
script(src='js/main.js')
script(src="js/tabs.js")
script(src="js/swiper-bundle.min.js")
script(src="js/scroll-lock.js")