extends templates/layout

block main 
    main 
        .pnf
            ._container 
                .pnf__box
                    h1.pnf__title <span>404 —</span> страница <br> не найдена
                    p.pnf__subtitle Проверьте адрес введённой ссылки, или обратитесь за помощью по электронной почте
                    a(href="/").btn Вернуться на главную 

