extends templates/layout

block main 
    main 
        .main-banner.first-block 
            ._container
                .main-banner__box
                    .main-banner__col
                        h2.main-banner__title Еноты в защите,<br>
                            span плюшевость в сердце!
                        .main-banner__descr Спасаем енотов один плюшевый объятий в раз! <br>Мы серьёзно относимся к плюшевым делам!
                        button.btn Обнять енотика
                    .main-banner__col
                        img(src="img/main-pic.png" alt="")
        section.mission 
            ._container 
                .mission__box 
                    .mission__col 
                        img(src="img/enotik.jpg" alt="")
                    .mission__col 
                        h2.section__title Наша миссия
                        p Мы стремимся создать мир, где каждый плюшевый енот, будучи символом нежности и защиты, может чувствовать себя в окружении истинной заботы и безопасности. Наша организация наполняет это стремление страстными усилиями и применяет креативные, иногда даже неожиданные методы, чтобы обеспечить плюшевым друзьям комфортное и поддерживающее пространство.
                        a.btn(href="") Подробнее
        section.info-block 
            ._container 
                .info-block__box 
                    .info-block__col 
                        h2.section__title Основные цели
                        p.info-block__text Мы проводим разнообразные мероприятия, создаём просветительские кампании и оказываем помощь тем, кто в беде. Наша цель — не просто оберегать плюшевых енотов, но и вдохновлять каждого, кто разделяет нашу страсть к этому делу, к принятию активного участия в создании заботливой среды для плюшевых друзей. С нами каждый енот найдёт своё уютное убежище в этом мире.
                        a.btn(href="") Подробнее
                    .info-block__col 
                        .info-block__col-wrap
                            .info-block__item 
                                h4.section__m-title Повышение осведомлённости и заботы
                                p Распространение знаний о плюшевых енотах, их уязвимости и потребностях. Мы стремимся создать сообщество людей, готовых заботиться о этих удивительных существах.
                                img.info-block__pic(src="img/hand1.svg" alt="")
                            .info-block__item
                                h4.section__m-title Обеспечение защиты и помощи плюшевым енотам в беде
                                p Предоставить помощь плюшевым енотам, оказавшимся в трудной ситуации, будь то из-за потери дома или из-за болезни. Мы стремимся создать сеть поддержки для этих плюшевых друзей.
                                img.info-block__pic(src="img/hand2.svg" alt="")
                        .info-block__col-wrap
                            .info-block__item
                                h4.section__m-title Содействие в создании безопасной среды
                                p Создать безопасные места для плюшевых енотов, где они могли бы чувствовать себя спокойно и защищено. Мы поддерживаем проекты по созданию таких убежищ и содействию в создании оптимальных условий для плюшевых друзей.
                                img.info-block__pic(src="img/hand3.svg" alt="")
                            .info-block__item
                                h4.section__m-title Сплочение сообщества любителей плюшевых енотов
                                p Объединить людей, разделяющих нашу страсть к плюшевым енотам, и совместными усилиями сделать мир лучше для этих милых существ. Мы создаём сообщество, в котором каждый может внести свой вклад!
                                img.info-block__pic(src="img/hand4.svg" alt="")
        section.directions 
            ._container 
                h2.section__title Направления
                .directions__box
                    a.directions__item(href="") 
                        h3.section__s-title Образование и Пропаганда
                        p Мы уделяем особое внимание просвещению общества о плюшевых енотах и их важности в экосистеме. Проводим мастер-классы, лекции и кампании, призванные расширить знания о природе и потребностях этих удивительных существ.
                    a.directions__item(href="")
                        h3.section__s-title Реабилитация и Помощь 
                        p Мы заботимся о плюшевых енотах, оказавшихся в беде, предоставляя им необходимую медицинскую помощь и поддержку. Наша команда специалистов работает над восстановлением здоровья и созданием условий для дальнейшей благополучной жизни плюшевых друзей.
                    a.directions__item(href="")
                        h3.section__s-title Проекты по Созданию Безопасных Убежищ
                        p Мы активно участвуем в создании уютных и безопасных мест для плюшевых енотов, где они могут найти приют и заботу. Реализуем проекты по строительству и обустройству убежищ, обеспечивая комфорт и безопасность для наших плюшевых друзей.

        section.gallery 
            ._container 
                .gallery__box
                    .gallery__head 
                        .gallery__col
                            h2.section__title Наши плюшёвые друзья  
                        .gallery__col 
                            p Мы обеспечиваем финансовую и техническую поддержку центрам реабилитации для плюшевых енотов. Наша цель — помочь тем, кто оказался в беде, вернуться к полноценной жизни в природе или в надёжном убежище.
                            a.btn(href="") Подробнее 
                    .gallery__wrap
                        .gallery__items
                            img(src="img/gallery/enotik1.jpg", alt="")
                            img(src="img/gallery/enotik2.jpg", alt="")
                            img(src="img/gallery/enotik3.jpg", alt="")
                            img(src="img/gallery/enotik4.jpg", alt="")
                            img(src="img/gallery/enotik1.jpg", alt="")
                            img(src="img/gallery/enotik2.jpg", alt="")
                            img(src="img/gallery/enotik3.jpg", alt="")
                            img(src="img/gallery/enotik4.jpg", alt="")
                            img(src="img/gallery/enotik1.jpg", alt="")
                            img(src="img/gallery/enotik2.jpg", alt="")
                            img(src="img/gallery/enotik3.jpg", alt="")
                            img(src="img/gallery/enotik4.jpg", alt="")
                            img(src="img/gallery/enotik1.jpg", alt="")
                            img(src="img/gallery/enotik2.jpg", alt="")
                            img(src="img/gallery/enotik3.jpg", alt="")
                            img(src="img/gallery/enotik4.jpg", alt="")
                        button.btn#showGalleryBtn Показать всех

        section.info-block 
            ._container 
                .info-block__box 
                    .info-block__col 
                        h2.section__title Экспертная поддержка и исследования
                        p.info-block__text Наша организация предоставляет высококвалифицированную экспертную поддержку и проводит глубокие исследования в области плюшевых енотов. Мы собираем данные, анализируем тренды и разрабатываем инновационные подходы к защите и улучшению жизни этих удивительных существ. Наши эксперты работают с партнёрами и учёными, чтобы развивать новые методы и технологии, способствующие сохранению и благополучию плюшевых енотов в мире. Наша цель — быть лидерами в этой области и добиваться конкретных положительных изменений в жизни каждого плюшевого друга.
                        a.btn(href="") Подробнее
                    .info-block__col 
                        .info-block__col-wrap.info-block__col-wrap--mode
                            .info-block__item 
                                h4.section__m-title Реабилитация и Восстановление
                                p Мы обеспечиваем финансовую и техническую поддержку центрам реабилитации для плюшевых енотов. Наша цель — помочь тем, кто оказался в беде, вернуться к полноценной жизни в природе или в надёжном убежище.
                                img.info-block__pic(src="img/hand1.svg" alt="")
                            .info-block__item
                                h4.section__m-title Научные Исследования
                                p Мы финансируем и проводим научные исследования по поведенческим особенностям, медицинским аспектам и экосистемным взаимосвязям плюшевых енотов. Наши проекты позволяют лучше понять этих удивительных существ и разработать эффективные методы их защиты.
                                img.info-block__pic(src="img/hand2.svg" alt="")
                        .info-block__col-wrap.info-block__col-wrap--mode
                            .info-block__item
                                h4.section__m-title Техническая Экспертиза
                                p Мы предоставляем консультации и техническую поддержку в разработке и строительстве безопасных убежищ. Наши специалисты помогают создать оптимальные условия для жизни и восстановления плюшевых друзей.
                                img.info-block__pic(src="img/hand3.svg" alt="")
                            .info-block__item
                                h4.section__m-title Программы Просвещения
                                p Мы разрабатываем и поддерживаем образовательные программы для местных сообществ, целью которых является распространение знаний о плюшевых енотах и создание культуры уважения к природе и её обитателям.
                                img.info-block__pic(src="img/hand4.svg" alt="")
