extends templates/layout

block main 
    main.second-page
        .first-block 
            ._container 
                .breadcrumbs 
                    a(href="javascript:history.back()") 
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none"><path d="M10 20L0 10L10 0L11.775 1.775L3.55 10L11.775 18.225L10 20Z" fill="#333333"/></svg>
                        span на страницу раньше
                h1.page-title Проекты
        .projects 
            ._container 
                .projects__box 
                    a(href="").projects__item
                        img(src="img/enotik3.jpg", alt="")
                        .projects__footer
                            h4.projects__title max 2 строки - Патриотизм и общественные инициативы
                            p max 3 строки - развитию патриотизма и поддержке общественно значимых молодёжных инициатив в сферах добровольчества ...
                    a(href="").projects__item
                        img(src="img/enotik3.jpg", alt="")
                        .projects__footer
                            h4.projects__title max 2 строки - Патриотизм и общественные инициативы
                            p max 3 строки - развитию патриотизма и поддержке общественно значимых молодёжных инициатив в сферах добровольчества ...
                    a(href="").projects__item
                        img(src="img/enotik3.jpg", alt="")
                        .projects__footer
                            h4.projects__title max 2 строки - Патриотизм и общественные инициативы
                            p max 3 строки - развитию патриотизма и поддержке общественно значимых молодёжных инициатив в сферах добровольчества ...
                    a(href="").projects__item
                        img(src="img/enotik3.jpg", alt="")
                        .projects__footer
                            h4.projects__title max 2 строки - Патриотизм и общественные инициативы
                            p max 3 строки - развитию патриотизма и поддержке общественно значимых молодёжных инициатив в сферах добровольчества ...
                    a(href="").projects__item
                        img(src="img/enotik3.jpg", alt="")
                        .projects__footer
                            h4.projects__title max 2 строки - Патриотизм и общественные инициативы
                            p max 3 строки - развитию патриотизма и поддержке общественно значимых молодёжных инициатив в сферах добровольчества ...
                    a(href="").projects__item
                        img(src="img/enotik3.jpg", alt="")
                        .projects__footer
                            h4.projects__title max 2 строки - Патриотизм и общественные инициативы
                            p max 3 строки - развитию патриотизма и поддержке общественно значимых молодёжных инициатив в сферах добровольчества ...