// @import "utils/stylesheet";
@import "./node_modules/normalize.css/normalize";

// @import "mixins/media";
@import "utils/variables";
@import "utils/swiper-bundle.min";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/craftwork-grotesk");:root {
    --red-color: #D62121;
}

*,
*::before,
*::after {
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "NTSomic", sans-serif;
}

body {
    color: #333;
}


a {
    text-decoration: none;
    color: inherit;
}

.overlay {
    &.active {
        background-color: #333;
        opacity: 0.3;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

}

.up {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 60px;
    bottom: 60px;
    border-radius: 10px;
    border: 1px solid var(--border-divider, #E1E0E7);
    background: var(--surface-grey, #F5F4FB);
    box-shadow: 0 5px 10px 0 rgba(207, 200, 219, 0.40);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (max-width: 1919px) {
      right: 20px;
    }
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
      right: 10px;
      img {
        width: 20px;      }
    }
}

p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 160%;
    @media(max-width: 767px) {
        font-size: 14px;
    }
    &.strong {
        font-size: 32px;
        line-height: 120%;
        @media(max-width: 767px) {
            font-size: 18px;
        }
    }
}

figure {
    margin: 0;
}

button {
    padding: 0;
    background-color: transparent;
}

ul,
ol {

    li {
        list-style: none;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;

    &.hidden {
        display: none;
    }
}


._container {
    max-width: 1840px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media(max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
    }

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
